<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hopper</title>
</head>
<body>
    <h1>Grace Hopper</h1>
    <img src="/imagenes/hopper.jpg" alt="">
    <p>
       <b>Grace Brewster Murray Hopper</b> (de soltera Murray; 9 de diciembre de 1906 - 1 de enero de 1992) fue un 
       informática estadounidense y contraalmirante de la Armada de los Estados Unidos. Una de las primeras programadoras
        de la computadora Harvard Mark I, fue una pionera de la programación de computadoras que inventó uno de los
         primeros enlazadores. Hopper fue la primera en idear la teoría de los lenguajes de programación independientes 
         de la máquina, y el lenguaje de programación FLOW-MATIC que creó utilizando esta teoría se amplió más tarde para
          crear COBOL, un lenguaje de programación de alto nivel temprano que todavía se usa hoy en día.
    </p>
    <div>
        <a href="/">Volver al inicio</a>
    </div>
    
</body>
</html>